main {
  // width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  max-width: 1275px;
  height: 640px;
  width: 100%;

  background-image: url(./image-host-desk.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .logo {
    margin-bottom: 75px;
    transform: translateY(-28px);
  }

  article {
    padding-top: 88px;
    max-width: 723px;
    background-color: var(--background);

    h1 {
      font-family: 'Chivo';
      font-weight: 300;
      font-size: 52px;
      line-height: 62px;
      text-transform: uppercase;
      color: var(--green);
      span {
        color: var(--white);
      }
      margin-bottom: 24px;
    }
    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      color: var(--light-blue);
      margin-bottom: 40px;
      max-width: 445px;
    }

    .email {
      position: relative;
      max-width: 427px;
      margin-bottom: 64px;

      input {
        width: 100%;
        padding-top: 14px;
        padding-left: 30px;
        padding-bottom: 14px;
        background-color: var(--input);
        font-family: 'Chivo';
        border: none;
        border-radius: 28px;
        color: var(--white);

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;

        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: 'Chivo';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 28px;
          color: var(--white);
          opacity: 0.5;
        }
      }

      button {
        border: none;

        cursor: pointer;
        height: 46px;
        position: absolute;
        width: 162px;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        background: var(--green);
        box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
        border-radius: 28px;

        font-family: 'Chivo';
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: var(--background);
      }
    }
    .casts {
      display: flex;
      align-items: center;
      svg {
        margin-right: 40px;
      }
      svg:nth-child(3) {
        margin-right: 27px;
      }
      svg:last-child {
        margin-right: 0;
      }
    }
  }
}
